name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Build workspace
      run: cargo build --workspace --verbose
    
    # This needs to be a separate step, as normal build does NOT create the DLL/SO file.
    - name: Build dylibs
      run: cargo build -p cranium-api --verbose
    
    - name: Check
      run: ls -l target/debug/deps
    
    - name: Run tests
      run: cp target/debug/deps/libcranium_api.so .; cargo test --workspace --verbose --no-fail-fast
